.top {
  font-size:400%;
  color:forestgreen; font-style: italic;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#search-container {
  text-align: center; /* 내부 요소를 가운데 정렬합니다. */
  margin-top: 10px; 
  margin-bottom: 90px;
}

#search {
  border-radius: 15px;
  width:500px;
  height: 55px;
  margin-right: 10px; /* 검색 입력 필드 오른쪽에 10px 여백을 줍니다. */
}
#searchbutton {
  height: 45px; /* 버튼의 높이를 조절합니다. */
  width: 45px;
  background-color:white ;
  background-image:url("../resources/image/돋보기.jpg");
  background-size:contain;
  text-indent: -9999px; /* 텍스트를 화면 밖으로 이동시킵니다. */
  border: none;
}
#menu {
  margin: auto;
  border-collapse : separate;
  border-spacing: 10px;
}
#menu th{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#mail, #coffee, #blog, #news, #shopping {
  width: 50%; 
  height: 1%; 
  object-fit: cover;
}
#board {
  border-collapse: collapse; 
  border: 5px solid lightgreen; 
  float: right; /* 테이블을 오른쪽에 위치시킵니다. */
  padding-right: 1000px;
}

#board th {
  padding: 10px; /* 셀의 내부 여백을 설정합니다. */
  border: 1px solid lightgreen; /* 셀의 테두리를 설정합니다. */
  font-size: 24px;
}

#board th a {
  display: block; /* 링크를 블록 수준 요소로 만들어 전체 셀에 링크를 확장합니다. */
  text-decoration: none; /* 링크의 밑줄을 제거합니다. */
  color: black; /* 링크의 색상을 설정합니다. */
  text-align: center; /* 링크의 텍스트를 가운데 정렬합니다. */
}

#login {
  background-color: lightgreen;
}

#login a {
  font-size: 24px; /* 로그인 링크의 글꼴 크기를 20px로 설정합니다. */
}

#parent_div {
  overflow: auto;
}

#ad {
  position: relative;
  float: right;
  top: 10px;
  clear: both;
}

#ad img {
  width: 450px;
}

#main img{
  width: 1000px;
  margin-top: -100px;
}

#main {
  float: left; /* 메인 이미지를 왼쪽에 부유시킵니다. */
}